#reflectDetailBody {
  max-width: var(--max-width);
  margin: auto;
  margin-top: 40px;

  div[class~="card"] {
    border-radius: 8px;
    padding: 16px;
    background-color: var(--background-2);
    color: var(--text-1);

    p {
      margin: 1em 0;
    }
    
    div[class~="quotations"] {
      display: flex;
      flex-direction: column;
      gap: 1em;
      margin-left: 1em;

      div[class~="quotation"] {
        padding: 8px;
        border-left: 2px solid var(--warm-orange);
      }
    }
  }
}
