#reflectContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: var(--max-width);
  margin: auto;
  padding-top: 32px;

  padding-bottom: 80px;
}

.reflectionSection {
  display: flex;
  flex-direction: row;
  gap: 16px;

  &[class~="flipped"] {
    flex-direction: row-reverse;
  }

  [class~="icon"] {
    max-width: 200px;

    img {
      width: 100%;
    }
  }

  [class~="description"] {
    flex-grow: 1;

    h1 {
      line-height: 1.15em;
    }

    p, li {
      line-height: 1.15em;
    }

    p {
      margin-bottom: 1em;
    }

    li {
      list-style-type: none;
      margin: 8px 0;
      padding-left: 8px;
      border-left: 2px solid var(--warm-orange);
    }

    [class~="conclusion"] {
      padding: 1em;
      display: flex;
      line-height: 1.15em;
      border: 2px solid var(--warm-orange);
      border-radius: 8px;
      gap: 16px;

      [class~="conclusion-type"] {
        display: block;
        font-weight: 700;
      }

      [class~="conclusion-button-container"] {
        flex-grow: 1;
        text-align: right;
        display: flex;
        flex-direction: row-reverse;

        [class~="journal-button"] {
          padding: 4px 8px;
          background-color: var(--warm-orange);
          color: var(--text-invert);
          display: inline-block;
          transition: 0.15s;

          &:hover {
            background-color: var(--brown);
          }

          span {
            line-height: 28px;
          }
        }
      }
    }
  }
}
