#writeContent {
  max-width: var(--max-width);
  margin: auto;

  input[id~="new-title"] {
    background: none;
    border: none;
    font-style: italic;
    color: var(--text-1);
    font-size: 1.5rem;
    padding-top: 40px;
    font-weight: 700;
    width: 100%;
    font-family: var(--font-family-1);
    outline: none;
  }

  div[id~="quill-container"] {
    max-height: 55vh;
    margin-bottom: 16px;
    overflow: auto;  
  }

  div[class~="quill"] {
    color: var(--text-1);
    margin: 16px 0;
    max-height: 60vh;
    font-weight: 400;

    div[class~="ql-toolbar"], div[class~="ql-editor"] {
      font-family: var(--font-family-1);
    }
  }
}

#lastSaved {
  color: var(--text-1);
  font-weight: 400;
  float: right;
}
